html {

	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	height: 100%;
	width: 100%;
	color: #424949;

}

@media only screen and (min-width: 700px) {

	body {

		overflow-x: hidden;
	}
}


#topbar {

	height: 4rem;

	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	position: fixed;
	z-index: 5;
	background-color: white;
	width: 100%;
	font-size: 1.5rem;
}

#topbar img {


	height: 3rem;
	width: auto;
}

#topbar div {


	margin-right: 2rem;
	display: flex;
}

#topbar span{ 

	margin-right: 1rem;

 }

#topbar a {

	text-decoration: none;
	margin-right: .5rem;
}

#topbar a:visited {

	color: black;
}

@media only screen and (min-width: 700px) {
#topbar .ghost {

	display: none;
}
}

@media only screen and (max-width: 700px) {

	#topbar span {

		display: none;
	}

	#topbar .ghost {

		display: inline;
	}
}

@media only screen and (max-width: 900px) and (min-width: 500px) {

	#topbar span {


		font-size: 70%;

	}

	}

.header {

	background-color: lightgrey;
	display: flex;
	position: relative;
	top: 4rem;
	height: 90%;
	width: 100%;
	justify-content: center;
	align-content: center;
}

.photo {

	width: 60%;
	padding: 32px 24px;
}

.text {

	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text h1 {

	font-size: 2.5rem;
}

.text p {

	margin-top: 2%;
	font-size: 1.5rem;
}

.text button{

	margin-top: 5%;
}

.photo img {


	width: 100%;
	height: auto;
}


button {

	width: 60%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	height: 3rem;
	background-color: #424949;
	border: none;
	color: white;
	font-size: 1rem;
}

button:hover {

	-webkit-transition-duration: 0.4s; 
    transition-duration: .8s;
    background-color: lightblue;
    color: #424949;
}

@media only screen and (max-width: 700px) { 

	.header {

		display: flex;
		flex-direction: column;
		align-items: center:
		justify-content: center;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 32px;
		padding-right: 15px;
		padding-left: 15px;
		width: 100%;
	}

	.photo {

		width: 100%;
		margin: 0 auto;
		padding: 0;

	} 

	.photo img {

		width: 100%;
		overflow: none;

	}

	.text {

		width: 100%;
	}
}

.main1 {

	height: 90%;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	top: 4rem;
}

.main {

	width: 60%;
	margin: 32px 24px;
	height: 100%;
}

.main h1 {

	margin-top: 1rem;

}
.main p {

	margin-top: 2rem;
}

.main img {

	width: 100%;
	overflow: none;
	height: auto;
}

.cards {

	width: 40%;
	height: 100%;
	border: .2px solid grey;
	margin-top: 2rem;
}

.cards div {

	border: .2px solid grey;
	height: 10.5rem;
	padding: .5rem;
	margin-bottom: .5rem;
}

.cards img {

	width: 35%;
	height: auto;
	float: left;
	margin-right: 1rem;
}

.cards h3 {


	font-size: 2rem;
}

.cards a {

	text-decoration: none;
	color: blue;
}

@media only screen and (max-width: 500px) { 

	.main1 {

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.main1 .main {

		display: none;
	}

	.cards {

		width: 100%;
		border: hidden;
	}

	.cards div {

		height: 9rem;
	}
	
	.cards h3 {

		font-size: 85%;
	}
}

@media only screen and (max-width: 900px) and (min-width: 500px) {

		.cards {

		display: none;
	}
}

.start {

	text-align: center;
	height: 90%;
	width: 100%;
	background-color: lightgrey;
	padding: 2rem;
	position: relative;
	top: 4rem;

}

.start h1 {

	margin: 2rem;

}

.stacks {

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 72px;
	padding-right: 72px;
}

.stacks div {

	background-color: white;
	height: 25rem;
	width: 30%;
	text-align: left;
	margin-right: 32px;
	margin-top: 2rem;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;

}

.stacks div h4, 
.stacks div p {

	padding: .5rem;

}

.stacks div img {

	overflow: hidden;
	height: auto;
	width: 100%;

}

.stacks div h4 {

	font-size: 1.5rem;


}

@media only screen and (max-width: 700px) {

	.start {

		background-color: white;
		padding: 1rem;

	}

	.start h1 {

		margin: 1rem auto;
	}

	.stacks {

		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 0 auto;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0;
	}

	.stacks div img {

		display: none;


	}

		.stacks div p {

		display: none;

	}

	.stacks div {

		width: 100%;
		height: 4rem;
		background-color: lightgrey;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: .3rem

	}

}

.thesis {

	height: 4rem;
	top: 4rem;
	position: relative;
	text-align: center;

}

.main2 {

	height: 90%;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	top: 4rem;
}

@media only screen and (max-width: 500px) {

	.main2 p {

		display: none;

	}

	.main2 h1 {

		display: none;
	}

	.main2 main {

		display: visible;
		width: 100%;
	}

	video {

		width: 100%;
		height: auto;
		
	
	}

	.main2 .cards  {

		display: none;

	}

}

.footer {

	position: relative;
	top: 4rem;
	height: 6rem;
	padding: 1rem 2rem;
	border-top: .5px lightgrey solid;
}